* {
  margin: 0;
  padding: 0;
  background-color: #e5e5dc;
}

header {
  position: sticky;
  top: 0px;
}

h1 {
  color: #334259;
  font-family: 'Nunito', sans-serif;
}

a {
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  color: #6e8783;
}

a:hover {
  text-decoration: line-through 3px;
}

.sidebar {
  border: 1px #334259;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #edddd0;
  align-content: space-evenly;
  height: 600px;
}

#aboutimg {
  float: left;
  max-width: 400px;
  padding-right: 10px;
}

.paragraph {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 2fr 1fr;
  gap: 5px;
}

.navi {
  display: flex;
  flex-direction: row;
  border: 5px solid #334259;
}

.link {
  width: 150px
}

.biglink {
  display: flex;
  flex-direction: row;
  width: 1000px
}

.text,
.text2,
.text3 {
  font-family: 'Nunito', serif;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.text2 {
  background-color: #edddd0
}